/* Mobile design first */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', monospace;
    margin: 0;
}

img {
    max-width: 100%;
}

h1 {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 2em;
    color: #333;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.1;
}

p {
    font-weight: 400;
    font-size:  1rem;
    margin-bottom: .9em;
    line-height: 1.5;
}

.container {
  padding: 0 2em;
}

.content {
    margin-top: 2em;
}

.Btn {
    margin-top: 3.5em;
    background-color: #252525;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1.3em 1.5em;
    transition: background-color 0.15s, color 0.15s, letter-spacing 0.15s;
}

.Btn:hover {
    background-color: white;
    color: black;
    letter-spacing: 2px;
    cursor: pointer;
}

.footer  p{
    font-size: .5rem;
    text-align: center;
    margin-top: 4em;

}


@media (min-width: 923px) {

    h1 {
        font-size: 1.8rem;
        margin-bottom: 1.5em;
    }

    h2 {
        font-size: 3.4rem;
        line-height: 1.2;
    }

    p {
        font-size: 1.6rem;
        margin-top: 0;
    }

    .content-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .img {
        width: 32%; 
        max-width: 600px;
    }

    .content {
        width: 62%;
        max-width: 600px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .col + .col {
        margin-left: 3.5em;
    }

    .Btn {
        margin-top: 2em;
    }

    .footer p  {
        font-size: 1.3rem;
        position: absolute;
        bottom: 5px;
        transform: translate(-50%, -50%);
        left: 50%;

    }
}